// This file should contains only shortcut colors
// This is useful to have more common names for variables
// This will also help in case a breaking change in the UI happen

$color-primary: $_color-black-night;
$color-secondary: $_color-gold;
$color-error: $_color-red-blood;
