// This file should contains only pure colors
// This is not the place to create shortcuts like "color-primary"
//
// Note that all variables should have an _ as prefix
// They should not be used directly during the development
// Read more about it inside the CONTRIBUTING.md#Styles#Variables naming convention#Internal variables

// Standard colors
$_color-white: #FFFFFF;
$_color-black: #000000;

// Custom colors extracted from the Inquisition logo
$_color-red-blood: #830101;
$_color-black-night: #130F0C;
$_color-gold: #F8BC4C;
$_color-skull: #F5DBA2;

// Russian colors
// Source: https://flatuicolors.com/palette/ru
$_color-russian-creamy-peach: #F3A683;
$_color-russian-sawtooth-aak: #F19066;
$_color-russian-purple-mountain-majesty: #786FA6;
$_color-russian-purple-corallite: #574B90;
$_color-russian-rosy-highlight: #F7D794;
$_color-russian-summertime: #F5CD79;
$_color-russian-rogue-pink: #F8A5C2;
$_color-russian-flamingo-pink: #F78FB3;
$_color-russian-soft-blue: #778BEB;
$_color-russian-cornflower: #546DE5;
$_color-russian-squeaky: #63CDDA;
$_color-russian-blue-curacao: #3DC1D3;
$_color-russian-brewed-mustard: #E77F67;
$_color-russian-tigerlily: #E15F41;
$_color-russian-apple-valley: #EA8685;
$_color-russian-porcelain-rose: #E66767;
$_color-russian-old-geranium: #CF6A87;
$_color-russian-deep-rose: #C44569;
$_color-russian-pencil-lead: #596275;
$_color-russian-biscay: #303952;
