// This file should contains only shortcut colors
// This is useful to have more common names for variables
// This will also help in case a breaking change in the UI happen

$dh-color-primary: $_dh-color-black-night;
$dh-color-secondary: $_dh-color-gold;
$dh-color-error: $_dh-color-red-blood;
