<div class="dh-home">
  <dh-button>
    <dh-button-label [dhButtonLabelTranslation]="{key: 'label', scope: 'home'}"></dh-button-label>
  </dh-button>
  <dh-button-container>
    <dh-button>
      <dh-button-label [dhButtonLabelTranslation]="{key: 'label', scope: 'home'}"></dh-button-label>
    </dh-button>
    <dh-button>
      <dh-button-label [dhButtonLabelTranslation]="{key: 'label', scope: 'home'}"></dh-button-label>
    </dh-button>
  </dh-button-container>
  <dh-button-container>
    <dh-button [dhButtonSize]="buttonSizeSmall">
      <dh-button-label [dhButtonLabelTranslation]="{key: 'label', scope: 'home'}"></dh-button-label>
    </dh-button>
    <dh-button [dhButtonSize]="buttonSizeSmall">
      <dh-button-label [dhButtonLabelTranslation]="{key: 'label', scope: 'home'}"></dh-button-label>
    </dh-button>
  </dh-button-container>
  <form [formGroup]="formGroup">
    <dh-control-text formControlName="name"></dh-control-text>
    <dh-button (dhButtonOnClick)="setName()">
      <dh-button-label [dhButtonLabelTranslation]="{key: 'Set same', scope: 'home'}"></dh-button-label>
    </dh-button>
    <dh-control-text dhControlTextIsDisabled
                     formControlName="name1">
    </dh-control-text>
  </form>
  <p>{{ formGroup.valid }}</p>
  <p>{{ formGroup.controls.name.value }}</p>
</div>
