@import 'imports';

.dark-heresy {
  dh-home {
    display: flex;

    .dh-home {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }
  }
}
