dh-button-label {
  display: flex;

  .dh-button-label {
    display: flex;

    .dh-button-label--label {
      display: flex;
    }
  }
}

:host-context(.dh-button.dh-button-type-primary) {
  .dh-button-label {
    .dh-button-label--label {
    }
  }
}

:host-context(.dh-button.dh-button-size-medium) {
  .dh-button-label {
    .dh-button-label--label {
    }
  }
}

:host-context(.dh-button.dh-button-size-large) {
  .dh-button-label {
    .dh-button-label--label {
    }
  }
}
