// Button sizes based on https://uxmovement.com/mobile/optimal-size-and-spacing-for-mobile-buttons/

$dh-button-small-height: 42;
$dh-button-medium-height: 60;
$dh-button-large-height: 72;

$dh-button-small-min-width: 144;
$dh-button-medium-min-width: 144;
$dh-button-large-min-width: 144;

$dh-button-small-font-size: 16;
$dh-button-medium-font-size: 16;
$dh-button-large-font-size: 16;

$dh-button-small-padding: 20;
$dh-button-medium-padding: 20;
$dh-button-large-padding: 20;
